* {
	padding: 0;
	margin: 0;
}

body{
	font-family: Lato;
}

header{
	background-color: #222;
}

.container{
	max-width: 1140px;
	margin: 0 230px;
}

.menu{
	display: flex;
	align-items: center;
	height: 75px;
	justify-content: space-between;
}

.menu-left{
	display: inline-flex;
	align-items: center;
}

.logo{
	height: 38px;
}

.search{
	margin-left: 40px;
	height: 20px;
}

.menu-right{
	display: inline-flex;
	align-items: center;
}

.burger-menu{
	height: 23px;
}

.contacts-menu{
height: 29px;
margin-left: 33px;
}

.shop-menu{
	align-self: center;
height: 44px;
margin-left: 33px;
}

.registration{
	margin-top: 59px;
	margin-bottom: 95px;

	&__title{
		font-weight: normal;
		font-size: 24px;
		line-height: 29px;
		color: #F16D7F;
		margin-bottom: 124px;
	}
	
	&__title:hover{
		transform: scale(1.2, 1.2);
		transition: all 1s;
	}

	&__wrap{
	display: flex;
	}

	&__form{

	form{
		display: flex;
		flex-direction: column;
		width: 360px;

		h5{
			margin-bottom: 20px;
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			color: #222222;
		}

		input {
		height: 45px;
		margin-bottom: 20px;
		padding-left: 16px;
		font-weight: 300;
		font-size: 13px;
		line-height: 16px;
		color: #B1B1B1;
		}

		input:hover{
			transform: rotate(360deg);
			transition: all 2.5s;
		}

		p{
			font-weight: 300;
			font-size: 13px;
			line-height: 16px;
			color: #B1B1B1;
			margin-bottom: 40px;
		}

		button{
			cursor: pointer;
			border: none;
			display: flex;
			padding-top: 18px;
			padding-left: 29px;
			width: 167px;
			height: 50px;
			font-weight: normal;
			font-size: 14px;
			line-height: 17px;
			color: #FFFFFF;
			background: #F16D7F;
			background-image: url(../img/arrow.svg);
			background-repeat: no-repeat;
			background-position: 120px 20px;
			transition: all 1s;
		}

		button:hover{
			transform: scale(1.1, 1.1);
			transition: all 1s;
		}
	}

	.gender{
		height: 17px;
		display: flex;
		flex-direction: row;
		margin: 23px 0 33px 0;

		input{
			height: 17px;
			font-weight: 300;
		}

		span{
			margin-left: 5px;
			margin-right: 15px;
			font-size: 15px;
			line-height: 15px;
			color: #000000;
		}
		}
	}

	&__info{
	margin-left: 128px;
	width: 652px;

	h3{
		font-weight: 300;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin-bottom: 22px;
	}

	p{
		font-weight: 300;
		font-size: 24px;
		line-height: 29px;
		color: #000000;
		margin-bottom: 21px;
	}

	ul{
		transition: all 1s;

	&:hover{
		transform: scale(1.2, 1.2);
		transition: all 1s;
	}
		

		li{
			font-weight: 300;
			font-size: 24px;
			line-height: 29px;
			color: #000000;
			list-style-type: none;
			background-image: url(../img/checkmark.svg);
			background-repeat: no-repeat;
			background-position: left;
			padding-left: 23px;
			margin-bottom: 16px;
		}
	}
	}
}

.autro{
	background: url('../img/autro-bg.png');
	height: 448px;

	&__wrap{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	&__item{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 360px;
	margin-top: 97px;
	transition: all 1s;
}

	&__item:hover{
		transform: scale(1.2, 1.2);
		transition: all 1s;
	}

	&__item > p{
	margin-top: 30px;
	width: 320px;
	font-size: 20px;
	line-height: 24px;
}

	&__subscribe{
	margin-top: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

	&__subscribe > h3{
margin-bottom: 3px;
}

	&__subscribe > p{
margin-bottom: 32px;
font-size: 18px;
}

	.form{
	display: flex;
}

	&__form{
		display: flex;
	}

	&__email{
		color: #E1E1E1;
		border: 1px solid #E1E1E1;
		height: 50px;
		width: 256px;
		padding-left: 22px;
		border-radius: 30px 0 0 30px;
	}

	&__button{
		cursor: pointer;
		height: 50px;
		width: 100px;
		border: 1px solid #F16D7F;
		background-color: #F16D7F;
		color: #fff;
		margin-top: 1px;
		border-radius: 0 30px 30px 0;
	}


	.email{
color: #E1E1E1;
border: 1px solid #E1E1E1;
height: 50px;
width: 256px;
padding-left: 22px;
border-radius: 30px 0 0 30px;
}

	.button {
cursor: pointer;
height: 50px;
width: 100px;
border: 1px solid #F16D7F;
background-color: #F16D7F;
color: #fff;
margin-top: 1px;
border-radius: 0 30px 30px 0;
}
}

footer{
	background-color: #222224;
}

.footer{

	&__wrap{
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
}

.copyright{
	font-size: 16px;
	line-height: 19px;
	color: #FBFBFB;
}

.shopping__wrap{
	display: flex;
}

.cart-title{
	height: 148px;
	padding: 60px 0 0 0;
	font-size: 24px;
	line-height: 29px;
	color: #F16D7F;
}

.shopping-card{
	display: flex;
	flex-direction: column;
	margin-bottom: 64px;

	img{
		float: left;
	}

	h5{
		font-weight: normal;
		width: 212px;
		margin-bottom: 42px;
		font-size: 24px;
		line-height: 29px;
		color: #222222;
	}

	a{
	position: absolute;
	left: 752px;
}

	a:active{
		display: none;
	}

	p{
		margin-bottom: 6px;
		font-size: 22px;
		line-height: 26px;
		color: #575757;
	}

	span{
	color: #F16D7F;
	}

	&__1{
		box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
		margin-bottom: 40px;
		display: flex;
		width: 562px;
		height: 306px;

	&_img{
	}

	&_text{
	margin: 22px 0 0 31px;
	}
}

	&__2{
		display: flex;
		margin-bottom: 72px;
		width: 562px;
		height: 306px;
		box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);

	&_img{
	
	}

	&_text{
	margin: 22px 0 0 31px;
	}
	}

	&__buttons{
		display: flex;
		justify-content: space-between;

		& > button{
			cursor: pointer;
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
			color: #000000;
			height: 50px;
			border: 1px solid #A4A4A4;
			background-color: #fff;
		}

		& > button:first-child{
			width: 235px;
		}

		& > button:last-child{
			width: 224px;
		}
	}
}

.cart__form{
	display: flex;
	flex-direction: column;
	margin-left: 128px;

	p{
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #222222;
	margin-bottom: 20px;
	}

	form{
		display: flex;
		flex-direction: column;
		width: 360px;

		input{
			height: 45px;
			margin-bottom: 20px;
			padding-left: 17px;
		}

		button{
			cursor: pointer;
			height: 34px;
			width: 100px;
			font-weight: 300;
			font-size: 11px;
			line-height: 13px;
			color: #4A4A4A;
		}
	}

	.checkout{
		background: #F5F3F3;
		width: 360px;
		height: 214px;
		margin-top: 58px;

		h6{
			margin-top: 39px;
			margin-left: 218px;
			width: 108px;
			height: 13px;
			font-weight: 500;
			font-size: 11px;
			line-height: 13px;
			color: #4A4A4A;
		}

		h5{
			margin-top: 12px;
			margin-left: 153px;
			width: 170px;
			height: 19px;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			color: #222222;

			span{
				color: #F16D7F;
			}
		}

		hr{
			background: #E2E2E2;
			width: 240px;
			margin: 21px auto 17px;
		}

		button{
			cursor: pointer;
			margin: 0 0 42px 44px;
			background: #F16D7F;
			width: 273px;
			height: 50px;
			border: none;
			font-weight: 300;
			font-size: 16px;
			line-height: 19px;
			color: #FFFFFF;
		}
	}
}

.intro{
	display: flex;
	background-color: #F1E4E6;
	height: 764px;
}

.intro-image{
	height: 764px;
}

.intro-line{
	width: 12px;
	height: 92px;
	background-color: #F16D7F;
	align-self: center;
}

.intro-text{
	margin-left: 16px;
	align-self: center;
}

.intro-text > h1{
	font-size: 48px;
}

.intro-text > p{
	font-size: 37px;
	display: inline-block;
}

.intro-text > span{
	font-size: 37px;
	color: #F16D7F;
}

.category{
	margin-top: 64px;
}

.category__item{
display: flex;
width: 100%;
height: 180px;
align-items: center;
justify-content: center;
}

.category__text > h3{
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}

.category__text > h2{
	color: #F16D7F;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	line-height: 19px;
	text-align: center;
}

.category__item:not(:last-child) {
	width: 335px;
	height: 260px;
	margin-bottom: 30px;
}

.category__wrap{
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
}

.category__item:nth-child(1){
background-image: url('../img/category-female.png');
}

.category__item:nth-child(2){
	background-image: url('../img/category-male.png');
}

.category__item:nth-child(3){
	background-image: url('../img/category-kids.png');
}

.category__item:nth-child(4){
	background-image: url('../img/category-accs.png');
}

.product{
	margin-top: 154px;
}

.product__wrap{

}

.product__title{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 48px;
}

.product__title > h2{
	font-size: 30px;
	line-height: 36px;
	color: #222;
}

.product__title > p{
	font-size: 14px;
	line-height: 17px;
	color: #9F9F9F;
}

.product__cards{
	display: flex;
	flex-wrap: wrap;
}

.product__card{
	width: 333px;
	height: 581px;
	margin-left: 30px;
}

.product__card > img{
	width: 333px;
	margin-bottom: 25px;
}

.product__card > h5{
	margin-left: 18px;
}

.product__card > p{
	margin-left: 18px;
	width: 315px;
	margin-top: 12px;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #5D5D5D;
}

.product__card > p > span{
	margin-top: 18px;
	font-size: 16px;
	line-height: 19px;
	color: #F16D7F;
}

.product__card:first-child{
	margin: 0;
}

.product__card:nth-child(4) {
	margin-left: 0;
}

.browse{
	margin: 0 auto;
	display: flex;
	margin-top: 50px;
	margin-bottom: 95px;
	border: 1px solid #F26376;
	width: 211px;
	height: 47px;
}

.browse-button{
	align-self: center;
	font-size: 16px;
	line-height: 19px;
	color: #F26376;
	text-decoration: none;
	margin: 0 auto;
}

.services{
	background-color: #222224;
}

.services__wrap{
	display: flex;
	justify-content: space-between;
}

.services__item{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 103px;
	margin-bottom: 103px;
	width: 360px;
}

.services__item:not(:first-child) {
	margin-left: 30px;

}

.services__item > img{
	margin-bottom: 28px;
	width: 40px;
	height: 40px;
}

.services__item > h4{
	color: #FBFBFB;
	margin-bottom: 16px;
}

.services__item > p{
	color: #FBFBFB;
	opacity: 0.7;
}

main{

}

.arrivals{
}

.arrivals__wrap{
	display: flex;
	justify-content: space-between;
}

.arrivals__item{
margin-top: 60px;
margin-bottom: 60px;
}

.arrivals__item > p{
font-size: 24px;
line-height: 29px;
color: #F16D7F;
}

.arrivals__item > a:not(:last-child){
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #636363;
text-decoration: none;
}

.arrivals__item > a:last-child{
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #F16D7F;
text-decoration: none;
}

.catalog{
margin-top: 50px;
}

.catalog__wrap{

}

.catalog__filter{
	display: flex;
	align-items: center;
}

.catalog__filter > p{
	background-image: url(../img/filter.svg);
	background-repeat: no-repeat;
	background-position: right;
	padding-right: 25px;
	font-size: 14px;
	line-height: 17px;
}

.select{
	margin-left: 300px;
}

.select > option{
	font-size: 14px;
line-height: 17px;
color: #6F6E6E;
}

.catalog__items{
margin-top: 64px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.catalog__item{
width: 330px;
margin-bottom: 30px;
}

.catalog__item > img{
	width: 330px;
	margin-bottom: 25px;
}

.catalog__item > h5{
	margin-left: 18px;
	margin-bottom: 12px;
}

.catalog__item > p{
	margin-left: 18px;
	margin-bottom: 18px;
	width: 315px;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #5D5D5D;
}

.catalog__item > p > span{
	font-size: 16px;
	line-height: 19px;
	color: #F16D7F;
}

.catalog__pages{
	margin-top: 48px;
	margin-bottom: 96px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.catalog__pages:first-child{
	
}

.catalog__pages:last-child{
margin-left: 17px;
}

.catalog__pages > a{
	text-decoration: none;
	align-items: center;
	margin-left: 17px;
}

.catalog__pages > a:not(.active__page){
	color: #5D5D5D;
}

.active__page{
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #EF5B70;
}

.services{
	background-color: #222224;
}

.services__wrap{
	display: flex;
	justify-content: space-between;
}

.services__item{
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 103px;
	margin-bottom: 103px;
	width: 360px;
}

.services__item:not(:first-child) {
	margin-left: 30px;
	
}

.services__item > img{
	margin-bottom: 28px;
	width: 40px;
	height: 40px;
}

.services__item > h4{
	color: #FBFBFB;
	margin-bottom: 16px;
}

.services__item > p{
	color: #FBFBFB;
	opacity: 0.7;
}

.arrivals{
}

.arrivals__wrap{
	display: flex;
	justify-content: space-between;
}

.arrivals__item{
margin-top: 60px;
margin-bottom: 60px;
}

.arrivals__item > p{
font-size: 24px;
line-height: 29px;
color: #F16D7F;
}

.arrivals__item > a:not(:last-child){
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #636363;
text-decoration: none;
}

.arrivals__item > a:last-child{
font-weight: 300;
font-size: 14px;
line-height: 17px;
color: #F16D7F;
text-decoration: none;
}

.carousel-wrapper{
	height: 900px;
	position:relative;
	width:800px;
	margin:0 auto;
 }

 .carousel-item{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	padding:25px 50px;
	opacity:0;
	transition: all 0.5s ease-in-out;
 }

 .arrow{
	border: solid black;
	  border-width: 0 3px 3px 0;
	  display: inline-block;
	  padding: 12px;
 }
 
 .arrow-prev{
	left:-30px;
	position:absolute;
	top:50%;
	transform:translateY(-50%) rotate(135deg);
	margin-left: -300px;
 }
  
 .arrow-next{
	  right:-30px;
	position:absolute;
	top:50%;
	transform:translateY(-50%) rotate(-45deg);
	margin-right: -300px;
	}
 
 .light{
	color:white;
 }
 
 @media (max-width: 480px) {
		 .arrow, .light .arrow {
			background-size: 10px;
			background-position: 10px 50%;
		 }
	  }
 
 /*Select every element*/
 [id^="item"] {
	  display: none;
	}
 
 .item-1 {
	
	  z-index: 2;
	  opacity: 1;
	background:url('../img/slider.png');
	background-size: cover;
	}
 .item-2{
	background:url('../img/slider.png');
	 background-size: cover;
 }
 .item-3{
	background:url('../img/slider.png');
	 background-size:cover;
 }
 
 *:target ~ .item-1 {
	  opacity: 0;
	}
 
 #item-1:target ~ .item-1 {
	  opacity: 1;
	}
 
 #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
	  z-index: 3;
	  opacity: 1;
	}

	.form{
	margin-top: 70px;
	}

	form{

	}

	.form__top{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	}

	.form__top > h6{
		font-weight: 300;
		font-size: 14px;
		line-height: 17px;
		color: #F16D7F;
	}

	.form__line{
	margin-top: 12px;
	margin-bottom: 12px;
	background-color: #EF5B70;
	width: 63px;
	height: 3.03px;
	color: #EF5B70;
	font-size: 3px;
	}

	.form__top > h5{
		margin-bottom: 48px;
		font-weight: 300;
		font-size: 18px;
		line-height: 22px;
		color: #4D4D4D;
	}

	.form__text{
	width: 580px;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #5E5E5E;
	}

	.cost{
	margin-top: 32px;
	font-weight: 300;
	font-size: 24px;
	line-height: 29px;
	color: #EF5B70;
	margin-bottom: 65px;
	}

	.form__bottom{
	border-top: 1px solid #EAEAEA;
	width: 473px;
	margin: 0 auto;
	padding-top: 65px;
	}

	select{
	border: none;
	margin-left: 22px;
	}

	option{
		margin-left: 22px;
	}

	.form__button{
	background-image: url(../img/cart.svg);
	background-repeat: no-repeat;
	background-position: 20px 12px;
	line-height: 48px;
	display: flex;
	justify-content: center;
	margin: 48px auto;
	color: #EF5B70;
	border: 1px solid #EF5B70;
	width: 211px;
	height: 47px;
}

.product__cards{
	margin-top: 146px;
	display: flex;
	flex-wrap: wrap;
}

.product__card{
	width: 333px;
	height: 581px;
	margin-left: 30px;
}

.product__card > img{
	width: 333px;
	margin-bottom: 25px;
}

.product__card > h5{
	margin-left: 18px;
}

.product__card > p{
	margin-left: 18px;
	width: 315px;
	margin-top: 12px;
	font-weight: 300;
	font-size: 14px;
	line-height: 17px;
	color: #5D5D5D;
}

.product__card > p > span{
	margin-top: 18px;
	font-size: 16px;
	line-height: 19px;
	color: #F16D7F;
}

.product__card:first-child{
	margin: 0;
}

@media (max-width: 1024px) {

	.menu {
		max-width: 1024px;
		margin: 0 32px;
		height: 65px;
	}

	.container {
		margin: 0 32px;
	}

	.intro {
		height: 510px;
	}

	.intro-image{
		height: 510px;
	}

	.intro-img {
		height: 510px;
	}


	.product{
		margin-top: 94px;
	}

	.product__cards{
		margin: 56px 0 0 110px;
	}

	.product__card{
		margin-left: 0;
	}
}